<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyVFHNyVdjXuD9oN2hax-4ktS7bQTqf3k</string>
	<key>GCM_SENDER_ID</key>
	<string>563321471920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.give4good</string>
	<key>PROJECT_ID</key>
	<string>give4goods-7a166</string>
	<key>STORAGE_BUCKET</key>
	<string>give4goods-7a166.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563321471920:ios:941028bc3d5e4a81da0c75</string>
</dict>
</plist>